
.custom-label {
  display: flex;
  align-items: center;
  min-width: 100px; /* Ancho mínimo para evitar que los labels cambien de tamaño */
  margin-right: 8px; /* Espacio entre el label y el campo de entrada */
}

.form-row {
  margin-bottom: 16px; /* Espaciado entre las filas del formulario */
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: #ffffff;
  --mdc-dialog-with-divider-divider-color: rgba(255, 255, 255, 0.12);
  --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}

.custom-dialog-container {
  background-color: #ffffff !important; /* Fondo blanco */
  color: black !important; /* Texto en negro */
}

.mat-form-field {
  width: 100%;
}

.hidden {
  display: none;
}

.mat-header-cell, .mat-cell {
  padding: 4px; /* Reducir el padding para filas y celdas */
  min-width: 80px; /* Ajusta esto según sea necesario */
}

.alinear {
    text-align: center;
    margin-top: 20px;
}

ul li {
    list-style: none;
}

table{
    width: 100%;

}

mat-form-field {
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}

/* Ajuste general del tamaño de la tabla */
mat-header-cell, mat-cell {
    padding: 4px 8px; /* Reduce el espacio interno (padding) en las celdas */
    font-size: 12px;  /* Reduce el tamaño de la fuente */
  }
  
  /* Ajuste específico para los encabezados */
  mat-header-cell {
    height: 40px; /* Ajusta la altura de los encabezados */
    white-space: nowrap; /* Evita que el texto del encabezado se rompa en varias líneas */
  }
  
  /* Ajuste para las celdas de acciones */
  mat-cell button {
    margin: 0 2px; /* Reduce el margen entre botones */
    width: 44px; /* Ancho del botón */
    height: 32px; /* Altura del botón */
    display: flex; /* Asegura que el contenido del botón (el icono) esté centrado */
    align-items: center; /* Centra verticalmente el contenido del botón */
    justify-content: center; /* Centra horizontalmente el contenido del botón */
}

mat-cell mat-icon {
    font-size: 20px; /* Ajusta el tamaño del icono */
    line-height: 1; /* Asegura que el tamaño de línea del icono no agregue espacio extra */
}
  
  .example-container {
    width: auto; /* Asegura que la tabla se ajuste al tamaño del contenedor */
  }
  
  .mat-table {
    table-layout: fixed; /* Hace que las columnas tengan un ancho fijo */
  }
  
  .mat-header-cell, .mat-cell {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido es demasiado largo */
    
  }

  mat-cell:last-of-type, 
    mat-header-cell:last-of-type, 
    mat-footer-cell:last-of-type {
    padding-right: 154px !important; /* Aplica padding a la última celda, encabezado y pie */
}

/* Aplica estilos a todo el paginador */
::ng-deep .custom-paginator {
    background-color: #bbb8b8 !important; /* Fondo blanco para el paginador */
    color: black !important; /* Texto negro para el paginador */
    padding: 8px;
    border-top: 1px solid #dddddd; /* Línea divisoria superior */
}

/* Estilo para el texto y los íconos de las flechas de navegación */
::ng-deep .custom-paginator .mat-paginator-icon {
    color: black !important; /* Color negro para los íconos de las flechas */
}

/* Estilo para el texto que muestra el rango de elementos */
::ng-deep .custom-paginator .mat-paginator-range-label {
    color: black !important; /* Color negro para el texto del rango de elementos */
}

/* Estilo para los botones del paginador */
::ng-deep .custom-paginator .mat-paginator-button {
    background-color: transparent !important; /* Fondo transparente para los botones */
    color: black !important; /* Texto negro para los botones */
    border: 1px solid #cccccc !important; /* Borde de los botones */
    border-radius: 4px !important; /* Bordes redondeados en los botones */
}

/* Estilo para los números de página */
::ng-deep .custom-paginator .mat-paginator-page {
    color: black !important; /* Color negro para los números de página */
}

/* Estilo para el panel desplegable del selector de tamaño de página */
::ng-deep .custom-paginator .mat-select-trigger {
    background-color: white !important; /* Fondo blanco para el trigger del selector */
    color: black !important; /* Texto negro para el trigger del selector */
}

/* Estilo para el panel del selector desplegable */
::ng-deep .custom-paginator .mat-select-panel {
    background-color: white !important; /* Fondo blanco para el panel del selector */
    color: black !important; /* Texto negro para el panel del selector */
}

/* Estilo para las opciones dentro del panel desplegable */
::ng-deep .custom-paginator .mat-option {
    color: black !important; /* Texto negro para las opciones del selector */
}

/* Estilo para el texto de los botones al pasar el ratón sobre ellos */
::ng-deep .custom-paginator .mat-button:hover,
::ng-deep .custom-paginator .mat-paginator-button:hover {
    background-color: #f0f0f0 !important; /* Fondo al pasar el ratón */
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #7e8285; /* Color gris deseado para el fondo */
}

.right-header {
    text-align: right; /* Aligns the header content to the right */
    padding: 0;       /* Removes default padding from the header */
    margin-bottom: 16px; /* Adds spacing between the header and the grid */
  }

.icon-container {
    display: flex;
    justify-content: flex-end; /* Mueve el cuadro completo hacia el lado derecho */
    padding: 20px;
  }
  
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 15px; /* Espaciado entre los elementos */
    border: 1px solid #000; /* Borde del cuadro */
    padding: 10px;
    background-color: #f9f9f9; /* Color de fondo opcional */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .icon-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el ícono y el texto */
  }
  
  mat-icon {
    font-size: 24px; /* Tamaño de los iconos */
  }

  .custom-menu-panel {
    background-color: #004488; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
  }
  
  .custom-menu-panel input {
    color: black; /* Cambia el color del texto del input */
    background-color: white; /* Cambia el fondo del input */
  }

  ::ng-deep .mdc-menu-surface {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #fbfbfb;
}

::ng-deep .mat-menu .mat-mdc-menu-item .mat-icon-no-color, 
::ng-deep .mat-menu .mat-mdc-menu-submenu-icon {
    color: #000000; /* Cambia el color a negro */
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #000; /* Color del borde (negro) */
  border-width: 1px;   /* Grosor del borde */
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 2px;   /* Borde más grueso al enfocarse */
  border-color: #000;  /* Color del borde al enfocarse */
}

.mat-form-field {
  border-radius: 4px;  /* Esquinas redondeadas */
  padding: 4px;        /* Relleno opcional */
}

.mat-input-element {
  border: 1px solid #000; /* Borde negro */
  border-radius: 4px;     /* Esquinas redondeadas */
  padding: 4px;
}

.mat-input-element:focus {
  border-color: #3f51b5;  /* Cambia el borde al color principal al enfocarse */
  border-width: 2px;
}

.mat-input-element {
  transition: border-color 0.3s ease-in-out;
}