
.alinear {
    text-align: center;
    margin-top: 20px;
}

ul li {
    list-style: none;
}

table{
    width: 100%;

}

mat-form-field {
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}



/* Aplica estilos a todo el paginador */
::ng-deep .custom-paginator {
    background-color: #bbb8b8 !important; /* Fondo blanco para el paginador */
    color: black !important; /* Texto negro para el paginador */
    padding: 8px;
    border-top: 1px solid #dddddd; /* Línea divisoria superior */
}

/* Estilo para el texto y los íconos de las flechas de navegación */
::ng-deep .custom-paginator .mat-paginator-icon {
    color: black !important; /* Color negro para los íconos de las flechas */
}

/* Estilo para el texto que muestra el rango de elementos */
::ng-deep .custom-paginator .mat-paginator-range-label {
    color: black !important; /* Color negro para el texto del rango de elementos */
}

/* Estilo para los botones del paginador */
::ng-deep .custom-paginator .mat-paginator-button {
    background-color: transparent !important; /* Fondo transparente para los botones */
    color: black !important; /* Texto negro para los botones */
    border: 1px solid #cccccc !important; /* Borde de los botones */
    border-radius: 4px !important; /* Bordes redondeados en los botones */
}

/* Estilo para los números de página */
::ng-deep .custom-paginator .mat-paginator-page {
    color: black !important; /* Color negro para los números de página */
}

/* Estilo para el panel desplegable del selector de tamaño de página */
::ng-deep .custom-paginator .mat-select-trigger {
    background-color: white !important; /* Fondo blanco para el trigger del selector */
    color: black !important; /* Texto negro para el trigger del selector */
}

/* Estilo para el panel del selector desplegable */
::ng-deep .custom-paginator .mat-select-panel {
    background-color: white !important; /* Fondo blanco para el panel del selector */
    color: black !important; /* Texto negro para el panel del selector */
}

/* Estilo para las opciones dentro del panel desplegable */
::ng-deep .custom-paginator .mat-option {
    color: black !important; /* Texto negro para las opciones del selector */
}

/* Estilo para el texto de los botones al pasar el ratón sobre ellos */
::ng-deep .custom-paginator .mat-button:hover,
::ng-deep .custom-paginator .mat-paginator-button:hover {
    background-color: #f0f0f0 !important; /* Fondo al pasar el ratón */
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #7e8285; /* Color gris deseado para el fondo */
}
