<mat-card style="background: #ffffff; color: black;">

    <h1 style="color: rgb(0, 55, 111); margin-left: 2%; margin-top: 2%;" class="alinear"><strong>Definiciones</strong></h1>
    

    <div mat-card-image></div>
    <mat-card-content style="background: #ffffff; color: black;">
        <div>
        <mat-table [dataSource]="dataSource"  class="example-container mat-elevation-z8 mat-cell" matSort style="max-height: 400px; overflow-y: auto;">

            <ng-container matColumnDef="id_Archivo">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;">
                Id
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                 <mat-icon>filter_alt</mat-icon>
               </button>
               <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" panelClass="custom-menu">
                <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                  <mat-icon style="color: black;">close</mat-icon>
                </div>
                <p mat-menu-item (click)="doSomething($event);">
                  <mat-icon  style="color: black;">search</mat-icon>
                  <input matInput (keyup)="filtrarId($event)" placeholder="buscar" style="width: 100px;">
                </p>
              </mat-menu>
             </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;"> {{element.id_Archivo}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="nombreArchivo">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Nombre
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarNombre($event)" placeholder="buscar" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;"> {{element.nombreArchivo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcionArchivo">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Descripción
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarDescripcion($event)" placeholder="buscar" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;"> {{element.descripcionArchivo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="creador">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Modificado por 
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarModificadoPor($event)" placeholder="buscar" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;"> {{element.creador}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha_creacion">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Creado
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarFechaCreacion($event)" placeholder="yyyy-mm-dd" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;"> {{element.fecha_creacion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fecha_actualizacion">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;">
                Modificado
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false">
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                    <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <!-- Cambié el placeholder para indicar el formato de fecha esperado -->
                    <input matInput (keyup)="filtrarFechaModificado($event)" placeholder="yyyy-mm-dd" style="width: 100px;">
                  </p>
                </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;">
                {{element.fecha_actualizacion}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="owner">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Owner
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarOwner($event)" placeholder="buscar" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;"> {{element.owner}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="version">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Versión
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarVersion($event)" placeholder="buscar" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;">{{element.version}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #003366; color: white; text-align: left;"> Estado
                <button mat-icon-button [matMenuTriggerFor]="aboveMenu" (click)="$event.stopPropagation()">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <mat-menu #aboveMenu="matMenu" yPosition="above" [hasBackdrop]="false" >
                  <div class="contenedor-flexbox" style="display:inline-block;" mat-menu-item type="submit">
                      <mat-icon style="color: black;">close</mat-icon>
                  </div>
                  <p mat-menu-item (click)="doSomething($event);">
                    <mat-icon style="color: black;">search</mat-icon>
                    <input matInput (keyup)="filtrarEstado($event)" placeholder="buscar" style="width: 100px;">
                  </p>
                 </mat-menu>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;">{{element.estado}}</mat-cell>
            </ng-container>

          
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white; text-align: left;"> Acción </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index;" style="background-color: #bbb8b8; color: black; border-bottom: 1px solid #dddddd;">
                    <button mat-icon-button style="background-color: #f5f5f5; border: 1px solid #f5f5f5;" (click)="detail(element.id_Archivo)">
                        <mat-icon aria-label="Detail">manage_search</mat-icon>
                    </button>
                    <button mat-icon-button style="background-color: #f5f5f5; border: 1px solid #f5f5f5;" (click)="edit(element.id_Archivo, element.nombreArchivo, element.descripcionArchivo, element.creador, element.fecha_actualizacion, element.version)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button style="background-color: #f5f5f5; border: 1px solid #f5f5f5;" (click)="delete(element.id_Archivo)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                    <button mat-icon-button style="background-color: #f5f5f5; border: 1px solid #f5f5f5;" (click)="execute(element.id_Archivo)">
                        <mat-icon label="Execute">swipe_left</mat-icon>
                    </button>
                    <button mat-icon-button style="background-color: #f5f5f5; border: 1px solid #f5f5f5;" (click)="test(element.id_Archivo)">
                        <mat-icon label="Test">inventory</mat-icon>
                    </button>
                    <button mat-icon-button style="background-color: #f5f5f5; border: 1px solid #f5f5f5;" (click)="test(element.id_Archivo)">
                        <mat-icon label="Share">share</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <!-- Encabezado de la tabla -->
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          
            <!-- Filas de la tabla -->
            <mat-row *matRowDef="let cuenta; columns: displayedColumns;"></mat-row>
          
          </mat-table>
        </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="custom-paginator"></mat-paginator>

    </mat-card-content>
    <mat-card-header class="right-header">
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="icon-container">
          <div class="icon-grid">
            <div class="icon-item">
              <mat-icon>manage_search</mat-icon> Detalles
            </div>
            <div class="icon-item">
              <mat-icon>edit</mat-icon> Modificar
            </div>
            <div class="icon-item">
              <mat-icon>delete</mat-icon> Eliminar
            </div>
            <div class="icon-item">
              <mat-icon>swipe_left</mat-icon> Ejecutar
            </div>
            <div class="icon-item">
              <mat-icon>inventory</mat-icon> Prueba
            </div>
            <div class="icon-item">
              <mat-icon>share</mat-icon> Compartir
            </div>
          </div>
        </div>
      </mat-card-header>

</mat-card>
