<h1 mat-dialog-title style="background: #ffffff; color: black;">Column Definitions</h1>
<div mat-dialog-content>
  <!-- Mostrar el mensaje si existe -->
  <div *ngIf="data.message" style="color: red; margin-bottom: 16px;">
    {{ data.message }}
  </div>

  <div *ngFor="let dataSourceObj of data.dataSourceArray; let i = index">
    <h2 style="color: #003366;">Opción {{ i + 1 }}: {{ optionTitles[i] }}</h2>
    <mat-table [dataSource]="dataSourceObj.dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="columnName">
        <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Field </mat-header-cell>
        <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;"> {{element.columnName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="columnType">
        <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Type </mat-header-cell>
        <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;"> {{element.columnType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="columnUnique">
        <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Unique </mat-header-cell>
        <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;"> {{element.columnUnique}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="dataSourceObj.displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataSourceObj.displayedColumns"></mat-row>
    </mat-table>
    <br />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button style="background-color: red;" (click)="onClose()">Cerrar</button>
</div>