<div class="progress-bar-container">
  <div class="progress-bar"></div>
</div>
<div class="carousel">
  <div class="carousel-inner" style="border: 2px; border-color: #3577bc;">
    <img [src]="images[getPreviousIndex()]" alt="Imagen {{getPreviousIndex() + 1}}" class="previous-img" style="border: 2px; border-color: #3577bc;">
    <img [src]="images[currentIndex]" alt="Imagen {{currentIndex + 1}}" class="current-img" style="border: 2px; border-color: #3577bc;">
    <img [src]="images[getNextIndex()]" alt="Imagen {{getNextIndex() + 1}}" class="next-img" style="border: 2px; border-color: #3577bc;">
  </div>


  <div class="carousel-nav">
  </div>
</div>
