<h1 mat-dialog-title style="background: #ffffff; color: black;">Column Definitions</h1>
<div mat-dialog-content style="background: #ffffff; color: black;">
  <mat-table [dataSource]="data.dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="columnName">
      <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Field </mat-header-cell>
      <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;"> {{element.columnName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="columnType">
      <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Type </mat-header-cell>
      <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;"> {{element.columnType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="columnUnique">
      <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Unique </mat-header-cell>
      <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;"> {{element.columnUnique}} </mat-cell>
    </ng-container>

    <!-- Columna de Acciones Condicional -->
    <ng-container matColumnDef="actions" *ngIf="data.showActions">
      <mat-header-cell *matHeaderCellDef style="background-color: #003366; color: white;"> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element" style="background-color: #bbb8b8; color: black;">
        <button mat-button (click)="onEdit(element)">
          <mat-icon style="color: black;">edit</mat-icon>
        </button>
        <button mat-button (click)="onDelete(element)">
          <mat-icon style="color: black;">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="data.displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: data.displayedColumns"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions style="background: #ffffff; color: black;">
  <button mat-button style="background-color: red;" (click)="onClose()">Cerrar</button>
</div>