.custom-dialog-container {
    background-color: #ffffff !important; /* Fondo blanco */
    color: black !important; /* Texto en negro */
  }

  ::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: #ffffff;
    --mdc-dialog-with-divider-divider-color: rgba(255, 255, 255, 0.12);
    --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
    --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}