/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos personalizados para el panel del mat-select */
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform-origin: top center;
    color: black; /* Color del texto */
    background: white; /* Fondo blanco */
}

/* Opcional: Estilos adicionales para opciones del menú */
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: #f0f0f0 !important; /* Fondo en hover */
    color: black !important; /* Texto en hover */
}

.mat-mdc-option:focus:not(.mdc-list-item--disabled) {
    background-color: #e0e0e0 !important; /* Fondo en focus */
    color: black !important; /* Texto en focus */
}

.mat-mdc-option.mat-mdc-option-active {
    background-color: #d0d0d0 !important; /* Fondo cuando está activo */
    color: black !important; /* Texto cuando está activo */
}

.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
    background-color: #c0c0c0 !important; /* Fondo cuando está seleccionado */
    color: black !important; /* Texto cuando está seleccionado */
}

.mat-mdc-option .mdc-list-item__primary-text {
    white-space: normal; /* Permite el ajuste de texto */
    font-size: inherit; /* Hereda el tamaño de fuente del contenedor */
    font-weight: inherit; /* Hereda el peso de fuente del contenedor */
    letter-spacing: inherit; /* Hereda el espaciado entre letras del contenedor */
    line-height: inherit; /* Hereda la altura de línea del contenedor */
    font-family: inherit; /* Hereda la familia de fuente del contenedor */
    text-decoration: inherit; /* Hereda la decoración de texto del contenedor */
    text-transform: inherit; /* Hereda la transformación de texto del contenedor */
    margin-right: auto; /* Ajusta el margen derecho automáticamente */
    color: black; /* Color del texto negro */
}

.mat-mdc-select-value {
    color: #212121; /* Color del texto */
}

.mat-mdc-select-arrow {
    color: #212121; /* Color de la flecha */
}

/* Estilo para mat-card */
.mat-card {
    background-color: #fff; /* Fondo blanco para el mat-card */
    color: black; /* Color del texto dentro del mat-card */
}

/* Estilo para el contenido del mat-card */
.mat-card-content {
    background-color: #fff; /* Fondo blanco para el contenido del mat-card */
    color: black; /* Color del texto dentro del contenido del mat-card */
}

/* Estilo para el encabezado del mat-card */
.mat-card-header {
    background-color: #fff; /* Fondo blanco para el encabezado del mat-card */
    color: black; /* Color del texto en el encabezado del mat-card */
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: #ffffff;
    --mdc-dialog-with-divider-divider-color: rgba(255, 255, 255, 0.12);
    --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
    --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}
